.btn {
    border: none;
    padding: 8px;
    font-size: 12px;
    font-weight: 600;
    margin: 5px;
    cursor: pointer;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.btn:hover {
    background-color: var(--background-three);
}

.btn-dark {
    background-color: var(--background-one);
    color: white;
}
.btn-blue {
    background-color: var(--background-two);
    color: white;
}
.btn-light {
    background-color: var(--background-four);
}

.btn-red {
    background-color: var(--color-red);
    color:white;
}

.inactive {
    opacity: 0.5;
    cursor: no-drop;
}