.c-bono {
    width: 400px;
    margin: 30px;
    border: 1px solid var(--background-two);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(143, 143, 143, 0.2);
}
.top-flex {
    display: flex;
    justify-content: space-between;
}
.ico-state {
    margin: 30px;
    position: relative;
}
.ico-activo:hover::after {
    content: "Bono Activo";
    font-weight: 600;
    color:var(--background-one);
    position: absolute;
    padding: 5px;
    top: 40px; 
    left: 0;
}
.ico-inactivo:hover::after {
    content: "Bono Inactivo";
    font-weight: 600;
    color:var(--background-one);
    position: absolute;
    top: 40px; 
    left: 0;
}
.content {
    padding: 0 30px 30px 30px;
}
.content h3 {
    font-weight: 600;
    font-size: 30px;
    color: var(--background-one);
    text-align: center;
}
.content h5 {
    font-weight: 600;
    color: var(--background-one);
    margin-top:10px;
}
.box-clases {
    background-color: var(--background-four);
    padding: 20px;
    margin-top: 30px;
}
.box-clases ul {
    list-style-type: none;
    padding: 20px;
}

  .box-clases li {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
    /* border-radius: 50%; */
    background-color: white;
  }
  /* clases reservadas */
  .box-clases .reserved {
    position: relative;
    border: 1px solid #A02334;
  }
  .box-clases .reserved::after {
    color: #A02334;
    content: "x";
    font-weight: 600;
    font-size: 30px;
    position: absolute;
    top: -9px; 
    left: 6px;
  }
  /* clases disponibles */
  .box-clases .available {
    background-color: #06D001;
    border: 1px solid var(--background-one);
  }